<div class="fighters">
  <ul>
    <div class="fighter-grid">
      <li *ngFor="let fighter of fighters$">
        <div class="name">
          {{fighter.first_name}} {{fighter.last_name}}
        </div>
        <div class="stats">
          <div class="image">
            <img src="{{fighter.thumbnail}}" alt="">
          </div>
          <div class="weight-class">
          <p>{{fighter.weight_class}}</p>
          <p>Record: {{fighter.wins}}-{{fighter.losses}}-{{fighter.draws}}</p>
          </div>
        </div>
        <div class="details">
          <a routerLink="/details/{{ fighter.id }}">View Detail</a>
        </div>
      </li>
    </div>
  </ul>
</div>
